*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
header{
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding:15px;
  display: flex;
  justify-content: space-around;
}

nav {
  position: fixed;
  right: 0;
  top: 130px;
  width: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.5s linear;
}

nav.show {
  padding: 30px;
  width: auto;
}

nav ul li {
  padding: 10px;
}

.wallpaper {
    background-image:url(presentation.jpg);
    background-size: cover;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taught{
    color: white;
    font-size: 8px;
    padding: 1rem;
    font-family: 'Great Vibes', cursive; 
}

h1{
  align-items: center;
  font-size: 5em;
}
h2{
  text-align: center;
  margin-bottom: 15px;
}
p{
  margin-bottom: 20px;
  color: black;
}
  section {
    padding: 1rem;
  }




  /* Button pizza selection */
button{
    padding: 0.85em 2.6em;
    margin: 15px;
    flex-wrap: wrap;

}






.burger{
width: 42px;
height: 24px;
cursor: pointer;
position: relative;
}

.burger span{
width: 100%;
height: 4px;
background-color: black;
display: block;
position: absolute;
top: 50%;
transform: translateY(-50%);
transition: background-color 0.5s ease-in-out;
}

.burger span::before, .burger span::after{
  content:"";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: black;
  transition: transform 0.5s ease-in-out;
}

.burger span::before{
  transform: translateY(-10px);

}
.burger span::after{
  transform: translateY(10px);

}

.burger.active span{
  background-color: transparent;
  /* quand nous rendons la span active, celle ci devient transparente. */

}
.burger.active span::before{
  transform: translateY(0px) rotateZ(45deg);
}
.burger.active span::after{
  transform: translateY(0px) rotateZ(-45deg);
}

/* logo */
.logo{
  height: 100px;
  width: 100px;
}



/* DESKTOP */

@media only screen and (min-width: 648px) {
  
.burger{
  display: none;
}

ul{
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: space-around;
  font-family: 'Great Vibes', cursive;
  font-size: 2em; 
}

nav {
  position: initial;
  right: initial;
  top: initial;
  width: initial;
  background-color: initial;
}

nav.show {
  width: initial;
  padding: initial;
}

nav ul li {
  padding: initial;
}

li::before{
  content: "🍕";
  padding-right: 8px;
}

a:link{
  text-decoration: none;
  color: white;
} 

}